html body {
    margin: 0;
    padding: 0;
    background-color: rgb(1, 1, 92);

        font-family: 'Itim', cursive;
        font-family: 'Montserrat', sans-serif;
        line-height: 2;
        font-size: 30px;

  }

  h1 {
    font-family: 'Itim', cursive;
    text-align: center;
    color: gold;
    text-shadow: 2px 2px 5px black;
    font-size: 90px;

  }
 #question1 {
     text-align: center;
    border-radius: 25px;
    background: #eaff76;
    padding: 50px;
    padding-left: 20%;
    padding-right: 20%;
    box-shadow: 10px 10px 5px #303030;
    margin: 70px;
  }
  img{
   float: right;
   width: 200px;
   height: 200px;

  }
  #eeve{
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 25px;
    box-shadow: black;
  }
  

  h2{
    font-family: 'Itim', cursive;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
  }
  form {
    font-family: 'Itim', cursive;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    font-size: 20px;
  }
  label:hover{
      font-size: 50px;
      font-weight: bold;
  }

  #jiggly {
     text-align: center;
    border-radius: 25px;
    background: #f2adfc;
    padding: 50px;
    padding-left: 20%;
    padding-right: 20%;
    box-shadow: 10px 10px 5px #303030;
    margin: 70px;
  }
  form {
    font-family: 'Itim', cursive;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    font-size: 20px;
  }

  #eev {
    text-align: center;
   border-radius: 25px;
   background: #a78457;
   padding: 50px;
   padding-left: 20%;
   padding-right: 20%;
   box-shadow: 10px 10px 5px #303030;
   margin: 70px;
 }

 #lap {
    text-align: center;
   border-radius: 25px;
   background: #00b7ff;
   padding: 50px;
   padding-left: 20%;
   padding-right: 20%;
   box-shadow: 10px 10px 5px #303030;
   margin: 70px;
 }

 #mim {
    text-align: center;
   border-radius: 25px;
   background: #ffc266;
   padding: 50px;
   padding-left: 20%;
   padding-right: 20%;
   box-shadow: 10px 10px 5px #303030;
   margin: 70px;
 }