html body {
    margin: 0;
    padding: 0;
    background-color: rgb(1, 1, 92);

        font-family: 'Itim', cursive;
        font-family: 'Montserrat', sans-serif;
        line-height: 2;
        font-size: 30px;

  }

  h1 {
    font-family: 'Itim', cursive;
    text-align: center;
    color: gold;
    text-shadow: 2px 2px 5px black;
    font-size: 90px;

  }

 p{
    font-family: 'Itim', cursive;
    text-align: center;
    color: ivory;
    font-weight: bolder;
    color: palevioletred;
    font-size: 40px;
 } 

 h2{
    font-family: 'Itim', cursive;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
  }
  form {
    font-family: 'Itim', cursive;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    font-size: 30px;
  }
  label:hover{
      font-size: 30px;
      font-weight: bold;
  }
  
 #question1 {
     text-align: center;
    border-radius: 25px;
    background: #eaff76;
    padding: 50px;
    padding-left: 20%;
    padding-right: 20%;
    box-shadow: 10px 10px 5px #303030;
    margin: 70px;
  }
  img{
   float: right;
   width: 200px;
   height: 200px;

  }
  #eeve{
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 25px;
    box-shadow: black;
  }
  
#laprp{
  float: right;
   width: 500px;
   height: 263px;

}
 

  #jiggly {
     text-align: center;
    border-radius: 25px;
    background: #f2adfc;
    padding: 50px;
    padding-left: 20%;
    padding-right: 20%;
    box-shadow: 10px 10px 5px #303030;
    margin: 70px;
  }
  form {
    font-family: 'Itim', cursive;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    font-size: 30px;
  }

  #eev {
    text-align: center;
   border-radius: 25px;
   background: #a78457;
   padding: 50px;
   padding-left: 20%;
   padding-right: 20%;
   box-shadow: 10px 10px 5px #303030;
   margin: 70px;
 }

 #lap {
    text-align: center;
   border-radius: 25px;
   background: #00b7ff;
   padding: 50px;
   padding-left: 20%;
   padding-right: 20%;
   box-shadow: 10px 10px 5px #303030;
   margin: 70px;
 }

 #mim {
    text-align: center;
   border-radius: 25px;
   background: #ffc266;
   padding: 50px;
   padding-left: 20%;
   padding-right: 20%;
   box-shadow: 10px 10px 5px #303030;
   margin: 70px;
 }
 
 #finish{
     text-align: center;
     border-radius: 25px;
   padding-top: 30px;
padding-bottom: 30px;
   border:  #405bf8;
   margin: 70px;
 }
 #submit{
    font-size: 50px;
    line-height: 3;
     width: 50%;
     border-radius: 25px;
     background-color: darkred;
     color: ivory;
     font-weight: bolder;
     text-shadow: 2px 2px 5px black;

 }

 #submit:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(241, 41, 41);
    font-style: italic;
  }

  h3{font-family: 'Itim', cursive;
    text-align: center;
    color: gold;
    text-shadow: 2px 2px 5px black;
    font-size: 70px;

  }